<form id="clubMainForm">
  <div class="form-group">
    <label for="clubFormControlInput">Club</label>
    <select id="clubOptions" class="form-control col-md-4">
      <option *ngFor="let club of _clubArray">{{club.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="idFormSelect">Id</label>
    <select id="idOptions" class="form-control col-md-4">
      <option *ngFor="let club of _clubArray">{{club.id}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
  <br>
  <br>
  <p id="nChange">Entry point for data after submission</p>
</form>

<hr>
<br>
<h2>Router Views:</h2>
