
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" id="redOp" href="#">Red</a>
    <a class="dropdown-item" id="blueOp" href="#">Blue</a>
    <a class="dropdown-item" id="skyOp"href="#">Sky</a>
    <a class="dropdown-item" id="whiteOp" href="#">White</a>
  </div>
</div>